# Node modules
/node_modules/
Backend/node_modules/
Frontend/my-app/node_modules/

# Build outputs
Backend/dist/
Frontend/my-app/.next/
Frontend/my-app/out/

# Environment files
.env
Frontend/my-app/.env.local

# Editor and system files
.vscode/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*

# TypeScript cache
*.tsbuildinfo
